 .menu-button > .arrow-button, .menu-button > .arrow-button > .arrow { -fx-padding: 0; }
 /* Menü öğelerinin temel stilleri */
.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 5px;
       -fx-background-radius: 6px;
}

/* Menü öğesi üzerine gelindiğinde arka plan rengini yeşil yap */
.menu-item:hover {
    -fx-background-color: #2855ac;
}

/* Menü öğesi üzerine gelindiğinde, Label metni beyaz olsun */
.menu-item .label {
    -fx-text-fill: black;
}

/* Menü öğesi üzerine gelindiğinde, Label metni beyaz olsun */
.menu-item:hover .label {
    -fx-text-fill: white;
}

.menu-bar{
  -fx-background-color: white;
  -fx-border-color:  #f0f0f0;
 -fx-border-width: 3px 0px 0px 0px;

}
.button {
        -fx-font-size: 14 pt;}
.label{
-fx-font-size: 14 pt;}

.menu-bar .label {

    -fx-font-size: 14 pt;
    -fx-font-family: "System";
    -fx-text-fill: black;

}

.context-menu {
  -fx-background-color: white;
  -fx-text-fill: black;
      -fx-background-radius: 10px;
            -fx-border-radius: 10px;
          -fx-padding: 5px;
            -fx-border-color:  #ececec;
           -fx-border-width: 3px ;

}
.menu .context-menu  .label {
    -fx-font-weight: normal;  /* Set the font weight to normal (regular) */
}

.menu:hover .label {

       -fx-text-fill: white;
}

.menu:hover .context-menu .label {
       -fx-text-fill: black;
}
.menu .label {
-fx-font-weight: bold;
       -fx-text-fill: black;
}
.menu {

    -fx-background-color: transparent;
}
/* Ensuring the Label inside the MenuItem behaves like a normal Label */
.normal-item:hover  {
    -fx-background-color: transparent!important; /* Ensure the label doesn't behave like a MenuItem */
}

/* Ensuring the Label inside the MenuItem behaves like a normal Label */
.normal-item .label {
    -fx-opacity: 1; /* Make sure it is fully visible */
    -fx-text-fill: black; /* Normal label text color */
    -fx-background-color: transparent!important; /* Ensure the label doesn't behave like a MenuItem */
    -fx-padding: 0; /* Remove padding if needed */
}

/* Optional: Remove hover effect from Label */
.normal-item:hover .label {
    -fx-text-fill: black; /* Ensure no change on hover */
    -fx-background-color: transparent; /* Remove background color on hover */
}

.menu:hover {
    -fx-background-color: #2855ac;
        -fx-background-radius: 9999px;
}


/* Apply rounded edges to the TableView */
.table-view {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-background-color: #f4f2f4;

    -fx-padding:20px;
}

/*HEADER */


.table-view .column-header{


    -fx-background-color: transparent;    /* made transparent */


    -fx-size:40.0px;


    -fx-min-height: 40.0px;

    -fx-cursor: hand;


}

.hoverable-btn {
    /* Add your desired hover effect styles */
    -fx-background-color: transparent;
    -fx-background-radius: 9999px;
    -fx-border-color: transparent;
    -fx-text-fill: #2855ac;
    -fx-font-weight: bold;  /* Makes the text bold */
}
.hoverable-btn:hover {
    -fx-background-color: #2855ac;  /* Example hover color */
        -fx-text-fill: #fff;
}

.table-view .column-header-background {
-fx-background-radius: 99999;
-fx-border-color: transparent;
-fx-border-width: 0 0 0 0;
 -fx-background-color: white;    /* made transparent */
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 5 0 5;
     -fx-background-color: #f4f2f4;    /* made transparent */
}